@media (max-width: 1200px) {

    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    .item1 {
        grid-row: 1;
    }

    .item4 {
        grid-column: 1;
        grid-row: 1;
    }
}