@media (max-width: 1240px) {

    body {
        height: 100%;
        padding: 4rem 0;
    }

    .main {
        grid-template-columns: repeat(2, 1fr);
        transition: 1s ease-out;
    }

    .item1 {
        grid-row: 1;
    }

    .item4 {
        grid-column: 1;
        grid-row: 1;
    }
}

@media screen and (max-width: 827px) {

    .header__span,
    .header__h1 {
        font-size: 1.5rem;
    }

    .main__item-h2 {
        font-size: 1.4rem;
    }


    .main {
        display: flex;
        flex-direction: column;
    }
}